*~
*.pkg.tar.xz
*.log*
.SRCINFO
build
chroot
packages
temp

source/*/pkg
source/*/src
source/broadcom-wl/*.tar.gz
source/papyros-shell/papyros-shell
source/papyros-files/papyros-files
source/qml-desktop/qml-desktop
source/qml-material/qml-material
source/qml-extras/qml-extras
source/ostree-git/ostree-git
source/linux-user-chroot/*.tar.gz
source/xdg-app-git/xdg-app
source/glib2/glib2
source/gsettings-qt-bzr/gsettings-qt
source/greenisland-git/greenisland
source/hawaii-qt5-wayland-git/qtwayland
