*~
*.pkg.tar.xz
*.log*
build
chroot
packages
temp

source/*/pkg
source/*/src
source/qt5-base-git/qt5-base
source/qt5-declarative-git/qt5-declarative
source/qt5-xmlpatterns-git/qt5-xmlpatterns
source/qt5-wayland-dev-git/qt5-wayland
source/broadcom-wl/*.tar.gz
source/papyros-shell/papyros-shell
source/qml-desktop/qml-desktop
source/qml-material/qml-material
source/qml-extras/qml-extras
source/ostree-git/ostree-git
source/linux-user-chroot/*.tar.gz
source/xdg-app-git/xdg-app
source/glib2/glib2
